# Archivos compilados de Java
*.class
*.jar
*.war
*.ear

# Carpetas de build
/target/
/build/
/dist/
/nbproject/private/

# Archivos de IDE
/.idea/
*.iml
*.ipr
*.iws

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.temp